.cartBody {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh;
}

.cartInfo {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 35%;
    gap: 2.5vh;
}

.cartInfo h1 {
    font-size: 4vh;
    font-weight: 700;
}

.cartInfo hr {
    width: 100%;
}

.cartInfo h2 {
    font-size: 3vh;
}

.productRecap {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr 0.5fr;
    width: 100%;
    max-height: 20vh;
    gap: 2.5vh;
}

.flexDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vh
}

.productLabel {
    grid-area: 1 / 1 / 2 / 3;
}

.productRecap img {
    max-width: 10vh;
}

.quantityButtonHolder {
    display: flex;
    flex-direction: column;
    width: 2vh;
    gap: 1px;
}

.quantityButton {
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 0.5vh;
    border: none;
}

.quantityButton:hover {
    cursor: pointer;
}

.removeButton {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 2vh;
}

.removeButton:hover {
    cursor: pointer;
}