.category {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh;
}

.productList {
    max-width: 50%;
    min-height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10vh;
    padding: 10vh;
}

.category h1 {
    font-size: 6vh;
    font-weight: 700;
}