.card {
    width: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.card img {
    width: 100%;
}

.cardTitle {
    text-align: center;
    font-size: 1.5vh;
}

.cardCategory {
    font-size: 1.3vh;
    color: grey;
}

.price {
    font-size: 1.5vh;
    font-weight: bold;
}

.card button {
    width: 15vh;
    height: 5vh;
    font-size: 2vh;
    background-color: black;
    color: white;
    border: none;
    border-radius: 1vh;
}

.card button:hover {
    box-shadow: 0 0 3px #ffffff;
    cursor: pointer
}

.reviewDiv {
    max-width: 75%;
    display: flex;
    align-items: center;
}

.reviewDiv img {
    max-height: 24px;
}

.reviewInfo {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.quantity {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 3vh;
    width: 50%;
}

.quantityButtonHolder {
    display: flex;
    flex-direction: column;
    width: 2vh;
    gap: 1px;
}

.quantityButton {
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 0.5vh;
}

.quantityButton:hover {
    cursor: pointer;
}