.featuredHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh;
}

.sectionClass {
    height: 60vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vh;
}

.featuredHolder h2 {
    font-size: 6vh;
    font-weight: 700;
}